

.main-container {
    max-width: 1280px;
}

.sidebar {
    width: 200px;
    top: 0;
    left: 0;
}

.content {
    max-width: 600px;
}

.content-container {
    margin-left: 200px;
}

.below-header {
    margin-top: 54px;
}

.header {
    height: 54px;
}

