<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Home</title>
        <!-- Import Tailwind CSS -->
        <script src="https://cdn.tailwindcss.com/"></script>

        <!-- Import local css -->
        <link href="../storage/static/app.css" rel="stylesheet"/>
    </head>

    <body>
        <main>
            <!-- Left Sidebar -->
            <div class="bg-red-300 border-r-2 p-2 sidebar h-full fixed">
                <div class="flex flex-col mr-2">
                    <div class="mb-2">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-10" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
                            </svg>
                        </a>
                    </div>
                    <nav>
                        <ul class="flex flex-col gap-2">
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewbox="0 0 20 20" fill="currentColor">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                                    </svg>
                                    <span class="ml-3">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-3">Explore</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"/>
                                    </svg>
                                    <span class="ml-3">Notifications</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                                    </svg>
                                    <span class="ml-3">Messages</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z"/>
                                    </svg>
                                    <span class="ml-3">Bookmarks</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"/>
                                    </svg>
                                    <span class="ml-3">Lists</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex font-semibold rounded-full p-2 items-center border hover:bg-gray-100 transition">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
                                    </svg>
                                    <span class="ml-3">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <a href="#" class="bg-blue-400 p-3 rounded-full text-center text-white mt-8 hover:bg-blue-500 transition">
                        <button class="font-bold">
                            Tweet
                        </button>
                    </a>
                </div>
            </div>
            <!-- End Left Sidebar -->

            <!-- Middle Content -->
            <div class="bg-blue-300 max-w-xl min-w-max content">
                <div class="flex justify-between items-center border-b-2 p-3">
                    <span class="text-lg font-semibold">Home</span>
                    <span class="rounded-full hover:bg-gray-100 p-1">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd"/>
                            </svg>
                        </a>
                    </span>
                </div>
                <!-- Main Content -->
                <div
                    class="border">
                    <!-- Tweet Area -->
                    <div class="p-3 border-b-2">
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2 border">
                                <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_generic_user.png"/>
                                <input type="text" class="grow" placeholder="What's happening?">
                            </div>

                            <div class="flex gap-1 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                </svg>
                                <span class="text-sm font-medium">Everyone can reply</span>
                            </div>

                            <div class="flex border justify-between items-center">
                                <div class="flex gap-2 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                                    </svg>
                                </div>

                                <a href="#" class="bg-blue-400 text-white font-semibold px-4 py-1 rounded-full hover:bg-blue-500">
                                    Tweet
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Tweet Area -->

                    <!-- Tweet -->
                    <div class="p-3 border-b-2 hover:bg-gray-400 transition">
                        <div class="flex gap-2">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_sasuke.jpg"/>
                            <div
                                class="grow">
                                <!-- username info -->
                                <div class="flex text-sm justify-between">
                                    <div class="flex">
                                        <a href="#" class="font-bold mr-1 hover:underline">Sasuke Uchiha</a>
                                        <a href="#" class="text-gray-600">@SasukeQuoteBot · 3h</p>
                                    </div>
                                    <p>···</p>
                                </div>
                                <!-- end username info -->

                                <!-- tweet body -->
                                <p>Hatred will never disappear... so if that were the case...</p>
                                <!-- end tweet body -->

                                <!-- tweet buttons -->
                                <div class="flex justify-between mt-3">
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>1</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-green-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"/>
                                        </svg>
                                        <p>2</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-red-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>20</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </div>
                                <!-- end tweet buttons -->
                            </div>
                        </div>
                    </div>
                    <!-- End Tweet -->
                    <div class="p-3 border-b-2 hover:bg-gray-400 transition">
                        <div class="flex gap-2">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_sasuke.jpg"/>
                            <div
                                class="grow">
                                <!-- username info -->
                                <div class="flex text-sm justify-between">
                                    <div class="flex">
                                        <a href="#" class="font-bold mr-1 hover:underline">Sasuke Uchiha</a>
                                        <a href="#" class="text-gray-600">@SasukeQuoteBot · 3h</p>
                                    </div>
                                    <p>···</p>
                                </div>
                                <!-- end username info -->

                                <!-- tweet body -->
                                <p>... Shut up.</p>
                                <!-- end tweet body -->

                                <!-- tweet buttons -->
                                <div class="flex justify-between mt-3">
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>1</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-green-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"/>
                                        </svg>
                                        <p>2</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-red-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>20</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </div>
                                <!-- end tweet buttons -->
                            </div>
                        </div>
                    </div>
                    <div class="p-3 border-b-2 hover:bg-gray-400 transition">
                        <div class="flex gap-2">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_sasuke.jpg"/>
                            <div
                                class="grow">
                                <!-- username info -->
                                <div class="flex text-sm justify-between">
                                    <div class="flex">
                                        <a href="#" class="font-bold mr-1 hover:underline">Sasuke Uchiha</a>
                                        <a href="#" class="text-gray-600">@SasukeQuoteBot · 3h</p>
                                    </div>
                                    <p>···</p>
                                </div>
                                <!-- end username info -->

                                <!-- tweet body -->
                                <p>As you'll always exist to protect the Village... so will I exist to destroy it.</p>
                                <!-- end tweet body -->

                                <!-- tweet buttons -->
                                <div class="flex justify-between mt-3">
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>1</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-green-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"/>
                                        </svg>
                                        <p>2</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-red-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>20</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </div>
                                <!-- end tweet buttons -->
                            </div>
                        </div>
                    </div>
                    <div class="p-3 border-b-2 hover:bg-gray-400 transition">
                        <div class="flex gap-2">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_sasuke.jpg"/>
                            <div
                                class="grow">
                                <!-- username info -->
                                <div class="flex text-sm justify-between">
                                    <div class="flex">
                                        <a href="#" class="font-bold mr-1 hover:underline">Sasuke Uchiha</a>
                                        <a href="#" class="text-gray-600">@SasukeQuoteBot · 3h</p>
                                    </div>
                                    <p>···</p>
                                </div>
                                <!-- end username info -->

                                <!-- tweet body -->
                                <p>As you'll always exist to protect the Village... so will I exist to destroy it.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <p>Make this long.</p>
                                <!-- end tweet body -->

                                <!-- tweet buttons -->
                                <div class="flex justify-between mt-3">
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>1</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-green-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"/>
                                        </svg>
                                        <p>2</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-red-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
                                        </svg>
                                        <p>20</p>
                                    </a>
                                    <a href="#" class="flex gap-2 items-center hover:text-blue-700 transition duration-75">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </div>
                                <!-- end tweet buttons -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Content -->
            </div>
            <!-- End Middle Content -->

            <!-- Right Sidebar -->
            <div class="bg-green-300 border-l-2 p-1">
                <div
                    class="ml-3">
                    <!-- Search bar -->
                    <div class="flex mx-auto mb-3">
                        <div class="flex grow">
                            <button class="flex items-center justify-center px-2">
                                <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                    <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"></path>
                                </svg>
                            </button>
                            <input type="text" class="px-4 py-2 w-full rounded-full" placeholder="Search...">
                        </div>
                    </div>
                    <!-- End Search bar -->

                    <!-- What's Happening -->
                    <div class="bg-gray-300 rounded-lg mb-3">
                        <h3 class="font-semibold p-2">What's Happening</h3>
                        <!-- cards -->
                        <div class="p-2 hover:bg-gray-400">
                            <div class="flex justify-between items-center">
                                <div class="text-sm">Television - Trending</div>
                                <div class="block w-6 cursor-pointer rounded-full text-center hover:bg-gray-500">···</div>
                            </div>
                            <div class="font-semibold">ヒトヒトの実</div>
                            <div class="text-sm">
                                <div>
                                    Trending With:
                                    <a href="#" class="text-blue-400">シャンクス</a>,
                                    <a href="#" class="text-blue-400">ゴムゴムの実</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 hover:bg-gray-400">
                            <div class="flex justify-between items-center">
                                <div class="text-sm">Television - Trending</div>
                                <div class="block w-6 cursor-pointer rounded-full text-center hover:bg-gray-500">···</div>
                            </div>
                            <div class="font-semibold">ヒトヒトの実</div>
                            <div class="text-sm">
                                <div>
                                    Trending With:
                                    <a href="#" class="text-blue-400">シャンクス</a>,
                                    <a href="#" class="text-blue-400">ゴムゴムの実</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 hover:bg-gray-400">
                            <div class="flex justify-between items-center">
                                <div class="text-sm">Television - Trending</div>
                                <div class="block w-6 cursor-pointer rounded-full text-center hover:bg-gray-500">···</div>
                            </div>
                            <div class="font-semibold">ヒトヒトの実</div>
                            <div class="text-sm">
                                <div>
                                    Trending With:
                                    <a href="#" class="text-blue-400">シャンクス</a>,
                                    <a href="#" class="text-blue-400">ゴムゴムの実</a>
                                </div>
                            </div>
                        </div>
                        <!-- end cards -->
                        <div class="p-2 hover:bg-gray-400 text-blue-400">
                            Show more
                        </div>
                    </div>
                    <!-- End What's Happening -->

                    <!-- Who to follow -->
                    <div class="bg-gray-300 rounded-lg">
                        <h3 class="font-semibold p-2">Who to Follow</h3>
                        <!-- person -->
                        <div class="flex items-center gap-2 p-2 hover:bg-gray-400">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_generic_user.png"/>
                            <div>
                                <div class="flex flex-col min-w-max">
                                    <div class="font-semibold">Squid</div>
                                    <div class="flex gap-2 items-center">
                                        <div>@oxxogen</div>
                                        <div class="text-sm bg-gray-400 rounded px-1 text-white">Follows you</div>
                                    </div>
                                </div>
                            </div>
                            <div class="border rounded-full font-semibold py-1 px-3">Following</div>
                        </div>
                        <div class="flex items-center gap-2 p-2 hover:bg-gray-400">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_generic_user.png"/>
                            <div>
                                <div class="flex flex-col min-w-max">
                                    <div class="font-semibold">Squid</div>
                                    <div class="flex gap-2 items-center">
                                        <div>@oxxogen</div>
                                        <div class="text-sm bg-gray-400 rounded px-1 text-white">Follows you</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded-full font-semibold py-1 px-3">Follow</div>
                        </div>
                        <div class="flex items-center gap-2 p-2 hover:bg-gray-400">
                            <img class="rounded-full w-14 h-14 object-cover" src="/static/pfp_generic_user.png"/>
                            <div>
                                <div class="flex flex-col min-w-max">
                                    <div class="font-semibold">Squid</div>
                                    <div class="flex gap-2 items-center">
                                        <div>@oxxogen</div>
                                        <div class="text-sm bg-gray-400 rounded px-1 text-white">Follows you</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white rounded-full font-semibold py-1 px-3">Follow</div>
                        </div>
                        <!-- end person -->
                        <div class="p-2 hover:bg-gray-400 text-blue-400">
                            Show more
                        </div>
                    </div>
                    <!-- End who to follow -->
                </div>
            </div>
            <!-- End Right Sidebar -->
        </main>
    </body>

</html>
