{% extends "base.html" %}
{% import 'components.html' as components %}

{% block title %}Inkpad - Home{% endblock %}

{% block content %}
    {{ components.post_area(auth=auth(),
        csrf_field=csrf_field
    ) }}

    {% for post in posts %}
        {{ components.post(
        nickname=post.nickname,
        handle=post.handle,
        timestamp=post.friendly_date + " " + post.friendly_time,
        body=post.body,
        post_id=post.id
        ) }}
    {% endfor %}
{% endblock content %}